.ui.secondary.menu .item {
    font-size: 22px;
    font-weight: 500;
    color: #545454;
    z-index: 2;
    width: 110px;
}

.ui.secondary.menu .item:hover {
  color: #ff914d;
}

.logo {
    font-size: 25px;
    border-radius: 1px;
}
