<div class="ui secondary  menu background-dark">
  <a routerLink="contact" class="item menutext"></a>
    <a routerLink="home" class=" item menutext">
      <img class="logo" src="/assets/images/iict_acro_sml.png"/>
    </a>
    
    <a routerLink="contact" class="item menutext"></a>
    <a routerLink="home" class=" item menutext ">
      Company Profile
    </a>
    <a routerLink="about-us" class="item menutext">
      Our Services
    </a>
    <a routerLink="team" class="item menutext">
      Our Expertise
    </a>
    <a routerLink="contact" class="item menutext">
      Our Work
    </a>
    <a routerLink="team" class="item menutext">
        Contact Us
    </a>
    <a routerLink="contact" class="item menutext"></a>
    
    <a routerLink="contact" class="item menutext">
       About Me
    </a>
    <a routerLink="contact" class="item menutext"></a> 
</div>
