<div class="container ui secondary menu background-dark">
  <!-- <a routerLink="home-page" class="item menutext inactive"></a> -->
    <a routerLink="home-page" class=" item menutext">
      <img class="logo" src="/assets/images/iiCt_round.png"/>
    </a>

    <a routerLink="home-page" class="item menutext"></a>
    <a routerLink="company-profile" class=" item menutext ">
      Company Profile
    </a>
    <a routerLink="our-services" class="item menutext">
      Our Services
    </a>
    <a routerLink="our-expertise" class="item menutext">
      Our Expertise
    </a>
    <a routerLink="project-work" class="item menutext">
      Our Work
    </a>
    <a routerLink="contact-us" class="item menutext">
        Contact Us
    </a>
    <a routerLink="home-page" class="item menutext"></a>

    <a routerLink="about-me" class="item menutext">
       About Me
    </a>
    <!-- <a routerLink="home-page" class="item menutext"></a> -->
</div>
