<div class="container">
  <div class="bgimg-corners ">
    <div class=" img-position" >
      <!-- <div class="triangle-top"></div> -->
        <img class="big-logo" src="/assets/images/iict_trnspt_lrg.png"/>
    </div>
    <!-- <div class="triangle-bottom"></div> -->
  </div>
  <div class="next-page page-space"></div>
  <div class="divided-page page-space">
      <div class="col-md-6 background-orange prime-white">
        <div>
          <img class="iiCt-logo" src="/assets/images/iict_acro_sml.png"/>
          <div class="values-position">
            <h1 class="values-format">EXPERTISE.</h1>
            <h1 class="values-format">COMMITMENT.</h1>
            <h1 class="values-format">VALUE.</h1>
          </div>
        </div>
      </div>
      <div class="col-md-6 background-dark prime-white">
        <div>
          <p>Right</p>
        </div>
      </div>

  </div>
  <div class="">
      <app-footer></app-footer>
  </div>
</div>
