<a ngbDropdown>
  <a href (click)="(false)" class="term-margin-left prime-white" ngbDropdownToggle>
     Terms of Service
  </a>
  <div ngbDropdownMenu class="drop-box" id="terms">
      <div class="popup-box  prime-white">
          <h3></h3>
          <h2 class= "prime-orange term-heading">Terms of Service</h2>
                  <h3></h3>
                  <p class= "prime-white term-text">Please read these terms of service ("disclaimer")
                      carefully before using [website] website (“website”, "service")
                      operated by[name] ("us", 'we", "our").
                      The content displayed on the website is the intellectual
                      property of the [name].You may not reuse, republish, or reprint
                      such content without our written consent.
                      All information posted is merely for educational and
                      informational purposes.It is not intended as a substitute for
                      professional advice.</p>
                      <p></p>
                      <p class= "prime-white term-text">Should you
                      decide to act upon any information on this website,
                      you do so at your own risk.
                      While the information on this website has been verified
                      to the best of
                      our abilities, we cannot guarantee that there are no
                      mistakes or errors.
                      We reserve the right to change this policy at any given time,
                      of which you will be promptly updated. If you want to make sure
                      that you
                      are up to date with the latest changes, we advise you to
                       frequently visit
                      this page.
                  </p>

      </div>
  </div>
</a>

