<div class="container">
  <div class="divided-page page-space">
    <div class="col-md-6 prime-orange"> <!-- left side of page -->
      <div>
        <img class="left-image-png" src="/assets/images/apps_top.png"/>
      </div>
      <div class="next-page">
        <div class=""></div>
          <div>
            <h1 class="left-title">ALL ABOUT ME</h1>
          </div>
          <a href="https://www.linkedin.com/in/gervan-p-nantel/">
            <img class="left-li-image" src="/assets/images/linkedin.svg"/>
          </a>
      </div>
      <div>
        <hr class="">
      </div>
      <div>
        <img class="left-image-png" src="/assets/images/apps_btm.png"/>
      </div>
    </div>

    <div class="col-md-6 prime-gray"> <!-- right side of page -->
      <h1> </h1>
      <h1> </h1>
      <div class="">
        <div class="next-page">
          <div>
            <img class="right-image-svg" src="/assets/images/color_puzzle.svg"/>
          </div>
          <div>
            <h3 class="prime-orange">Personal Attributes</h3>
            <ul class="atr-fonts">
              <li class="">Leader, team player & consensus builder</li>
              <li>Conceptual thinker, visionary, problem solver</li>
              <li>Adaptable, quick to learn, comfortable with change</li>
            </ul>
          </div>
        </div>
        <h1></h1>
        <div class="next-page">
          <div>
            <img class="right-image-png" src="/assets/images/lightbulb1.png"/>
          </div>
          <div class="right-text">
            <h3 class="prime-orange">Soft Skills</h3>
            <ul class="atr-fonts">
              <li>Management, coaching & mentorship</li>
              <li>Communication, strategy, planning</li>
              <li>Organization, time & project management</li>
              <li>Risk management and mitigation</li>
            </ul>
          </div>
        </div>
        <h1></h1>
        <div class="next-page">
          <div>
            <img class="right-image-png" src="/assets/images/checklist.png"/>
          </div>
          <div class="right-text">
            <h3 class="prime-orange">Work & Field Experience</h3>
            <ul class="atr-fonts">
              <li>Quality assurance (SME)</li>
              <li>Agile and SCRUM master (certified)</li>
              <li>Software development (SDLC)</li>
              <li>Graphic design & media development</li>
              <li>Development frame-works, languages & tools</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="next-page background-clear">
      <h1></h1>
    </div>
</div>
<div class="">
    <app-footer></app-footer>
</div>
</div>

