<div class="container col-md-12 page-space bg-rounded">
  <div class="row  background-dark bg-rnd-top">
    <div class="col-md-5 text-position ">
        <div >
          <a class="term-margin-left"></a>
          <!-- <a routerLink="sign-in" >
            Sign-In
          </a> -->
          <a routerLink="/sign-in" class="col-md-4 term-margin-left prime-white" *ngIf="isLoggedIn$=='false'; else notLoggedIn">
            Sign-In
          </a>
          <ng-template #notLoggedIn>
            <a routerLink="home" class="col-md-4 term-margin-left prime-white" (click)="userauthService.logout()"(click)="reload()">
             Sign-Out
            </a>
          </ng-template>
          <!-- <a routerLink="/sign-in" class="col-md-4 term-margin-left prime-white">
            Sign-In
         </a> -->
          <!-- <a href (click)="(false)" class="term-margin-left prime-white" ngbDropdownToggle>
            Privacy Notice
          </a> -->
          <app-privacy></app-privacy>
          <!-- <a href (click)="(false)" class="term-margin-left prime-white" ngbDropdownToggle>
            Terms of Service
          </a> -->
          <app-terms></app-terms>
        </div>

    </div>
    <div class="col-md-1"></div> <!-- space betwwen the columns-->
    <div class="col-md-6">
      <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-position prime-orange" >Follow us</h3>
        </div>
        <div class="col-md-2 next-page">
          <a href="https://www.linkedin.com/company/iiconsult-tech-inc" target="_blank" rel="norefferrer">
            <img class="term-margin-left img-greyed-out" src="assets/images/linkedin_rnd.png" alt="linkedin"></a>

          <img class="term-margin-left img-greyed-out" src="assets/images/facebook_rnd.svg" alt="facebook">
          
          <a href="https://twitter.com/iiconsulttech?ref_src=twsrc%5Etfw" target="_blank" rel="norefferrer">
          <img  class="term-margin-left img-greyed-out" src="assets/images/twitter_rnd.png" alt="twitter"> </a>
        </div>
    </div>
  </div>
  <div class="row background-dark bottom-padding prime-orange">
    <span class="prime-orange" layout="row"><hr  flex/></span>
  </div>
  <div class="row background-dark bottom-padding bg-rnd-btm">
    <div class ="col-md-5">
        <a class="margin-left copy-text prime-orange">© 2019-2020 iiConsult tech Inc. All Rights Reserved</a>
    </div>
    <div class ="col-md-5"></div>
    <div class ="col-md-2">
        <img class="term-margin-left store-img img-greyed-out" src="/assets/images/apple_apps.svg" alt="Apple">
        <a href="https://play.google.com/store/apps/dev?id=9115988388994498892">
        <img class="term-margin-left store-img img-greyed-out" src="/assets/images/google_play.svg" alt="Google"></a>
    </div>
  </div>
</div>
