<div class="container col-md-12 page-space bg-rounded">
  <div class="row  background-dark bg-rnd-top">
    <div class="col-md-5 text-position ">
        <div >
          <a class="term-margin-left"></a>
          <!-- <a routerLink="sign-in" >
            Sign-In
          </a> -->
          <a routerLink="/sign-in" class="col-md-4 term-margin-left prime-white">
            Sign-In
         </a>
          <a href (click)="(false)" class="term-margin-left prime-white" ngbDropdownToggle>
            Privacy Notice
          </a>
          <!-- <a><app-privacy></app-privacy></a> -->
          <a href (click)="(false)" class="term-margin-left prime-white" ngbDropdownToggle>
            Terms of Service
          </a>
          <!-- <a><app-terms></app-terms></a> -->
        </div>

    </div>
    <div class="col-md-1"></div> <!-- space betwwen the columns-->
    <div class="col-md-6">
      <div class="col-md-4"></div>
        <div class="col-md-4">
            <h3 class="text-position prime-orange" >Follow us</h3>
        </div>
        <div class="col-md-2 next-page">
          <a href="https://www.linkedin.com">
            <img class="term-margin-left img-greyed-out" src="assets/images/linkedin_rnd.png" alt="linkedin"></a>

          <img class="term-margin-left img-greyed-out" src="assets/images/facebook_rnd.svg" alt="facebook">
          <img class="term-margin-left img-greyed-out" src="assets/images/twitter_rnd.png" alt="twitter">
        </div>
    </div>
  </div>
  <div class="row background-dark bottom-padding prime-orange">
    <span class="prime-orange" layout="row"><hr  flex/></span>
  </div>
  <div class="row background-dark bottom-padding bg-rnd-btm">
    <div class ="col-md-5">
        <a class="margin-left copy-text prime-orange">© 2019-2020 iiConsult tech Inc. All Rights Reserved</a>
    </div>
    <div class ="col-md-5"></div>
    <div class ="col-md-2">
        <img class="term-margin-left store-img img-greyed-out" src="/assets/images/apple_apps.svg" alt="Apple">
        <img class="term-margin-left store-img img-greyed-out" src="/assets/images/google_play.svg" alt="Google">
    </div>
  </div>
</div>
