<div class="container">
  <div class="background-boxed bg-rnd-trbl disp-fullpage">
    <div class="col-md-12 prime-orange"> <!-- Top title section of page -->
      <div class="col-md-4 page-space">
        <img class="iiCt-logo-extra" src="/assets/images/iict_acro_sml.png"/>
      </div>
      <div class="col-md-4">
        <h1>OUR SERVICES</h1>
      </div>
    </div>
    <div class="col-md-12 prime-orange"> <!-- Lower section of page -->
      <div class="col-md-4 disp-vert">  <!-- Lower section 1st column -->
        <div>
          <img class="serve-images " src="/assets/images/service_chat.png"/>
        </div>
        <div class="exp-heading">
          <h2>Consulting Services</h2>
        </div>
        <div class="serve-text prime-grey">
          <P>Years of quality and management expertise to help your company move forward.</P>
        </div>
      </div>
      <div class="col-md-4 disp-vert">  <!-- Lower section 2nd column -->
        <div>
          <img class="serve-images " src="/assets/images/service_calc.png"/>
        </div>
        <div class="exp-heading">
          <h2>Start-up Packages</h2>
        </div>
        <div class="serve-text prime-grey">
          <P>We can prepare designs and  materials you need for your new business..</P>
        </div>
      </div>
      <div class="col-md-4 disp-vert">  <!-- Lower section 3rd column -->
        <div>
          <img class="serve-images " src="/assets/images/service_money.png"/>
        </div>
        <div class="exp-heading">
          <h2>Development Services</h2>
        </div>
        <div class="serve-text prime-grey">
          <P>Digital design and development services for your business to succeed and flourish.</P>
        </div>
        <div>
          <!-- <img class="chart-image " src="/assets/images/chart_wht.png"/> -->
        </div>
      </div>
    </div>
  </div>
  <div class="next-page background-clear">
    <h6></h6>
  </div>
  <div>
      <app-footer></app-footer>
  </div>
</div>

