<div class="container">
  <div class="divided-page page-space background-dark bg-rnd-trbl prime-white">
    <div class="col-md-6 prime-orange"> <!-- left side of page -->
      <div class="next-page">
        <div class=""></div>
          <div>
            <h2></h2>
            <div class="next-page prime-white ">
              <div class="left-space">
                <h5 class=" ">SMALL</h5>
                <h5 class=" ">SAMPLE</h5>
              </div>
              <div>
                <h1 class="left-title">PROJECT WORK</h1>
                <hr>
              </div>
            </div>
          </div>
      </div>
      <div>
        <div class="next-page left-space">
          <h3></h3>
          <div>
            <img class="move-down" src="/assets/images/myCalc.png"/>
          </div>
          <div>
            <h3></h3>
            <h4 class="prime-orange title-fonts left-space">Calculator Projects</h4>
            <p class="body-fonts prime-white left-space">
              Built 4 different functional calculators in various platforms -
              1) browser with javascript, 2) android studio and 3/4 in iOS.
              One was built using a storyboard and the other using swift UI
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="next-page left-space">
          <h3></h3>
          <div>
            <img class="move-down left-image-png" src="/assets/images/myPet.png"/>
          </div>
          <div class="left-backspace">
            <h3></h3>
            <h4 class="prime-orange title-fonts ">Andriod Software Development</h4>
            <p class="body-fonts prime-white ">
              Design concept application developed in android studio that creates lists of items,
              quantities and amounts and then tally:s the list.
              Makes use of a drop-down menu to store and retain user settings in phone memory
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 prime-gray"> <!-- right side of page -->
      <h1> </h1>
      <h1> </h1>
      <div class="">
        <div class="next-page">
          <div>
            <img class="right-image-png" src="/assets/images/goShop.png"/>
          </div>
          <div>
            <h1></h1>
            <h4 class="prime-orange title-fonts ">Logo Design</h4>
            <p class="body-fonts">
              Testimonials are short quotes from people who love your brand.
              It's a great way to convince customers to try your services.
            </p>
          </div>
        </div>
        <h1></h1>
        <h1></h1>
        <div class="next-page">
          <div>
            <img class="right-image-png" src="/assets/images/VARA.gif"/>
          </div>
          <div class="">
            <h4 class="prime-orange title-fonts">Image and Website Design</h4>
            <p class="body-fonts">
              Created a series of visual collateral materials,
              including the logo for a start-up venture.
              Created a video and overall look for the website:
              <a class="prime-orange" href="https://varaplatforms.com/#/home">www.varaplatforms.com</a>
            </p>
          </div>
        </div>
        <h1></h1>
        <h1></h1>
        <div class="next-page">
          <div>
            <img class="right-image-png" src="/assets/images/sMail.png"/>
          </div>
          <div class="">
            <h1></h1>

            <h4 class="prime-orange title-fonts">iOS Software Development</h4>
            <p class="body-fonts">
              As part of a school project, the team built an iOS application
              - sMail - that allows users to log into their gmail account to view emails.
              you can also view folders, create drafts and send emails.
            </p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="next-page background-clear">
  <h1></h1>
</div>
<div class="">
    <app-footer></app-footer>
</div>
</div>
