/* Site Colors */
.prime-grey {
    color: #545454;
}

.prime-orange {
    color: #ff914d;
}

.logo-orange {
    color: #fe5828;
}

.prime-white {
    color: whitesmoke;
}

.background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-dark {
    background-color: #545454;
}

.background-light {
    background-color: whitesmoke;
}

.background-orange {
  background-color: #ff914d;
}

.background-clear {
  background-color: transparent;
}

.bgimg-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.0)), url('/iiCt/src/assets/images/contact_us1.jpg');
}

.page-space {
  padding-bottom: 1rem;
}

.next-page {
  display: flex;
}

.divided-page {
  display: flex;
  height: 600px;
}

.triangle-top {
    /* border-left: 30rem solid transparent; */
    border-right: 30rem solid #ff914d;
    border-bottom: 30rem solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 8.8%;
    z-index: 2;
}

.triangle-bottom  {
    margin-top: -30rem;
    border-right: 30rem solid transparent;
    border-bottom: 30rem solid #ff914d;
    /* border-top: -30rem solid transparent; */
    height: 0;
    width: 0;
    position: relative;
    left: 0px;
    z-index: 2;
}

.iiCt-logo {
  width: 20%;
  padding-top: 1.25rem;
}

.popup-box {
  min-width: 600px;
  font-size: 1.25rem;
  display: block;
  border-radius: 4px;
  border: 4px solid #ff914d;
  position: center;
  box-shadow: 0 0 0 1500px rgba(0, 0, 0, 0.8);
  opacity: 1.0;
  padding: 10px;
  height: 500px;
  right: 250px;
  bottom: 200px;
  background-color: #545454;
}

.dropdown-toggle::after {
  content: none;
}

.term-text {
  font-size: 1.25rem;
  text-align: justify;
  margin-left: 20px;
  margin-right: 20px;
}

.term-heading {
  margin-left: 15rem;
  font:   normal bold  "Roboto-Thin", sans-serif
}

.term-margin-left{
  margin-left: 1.75rem;
}
