/* Site Colors */
.prime-grey {
    color: #545454;
}

.prime-orange {
    color: #ff914d;
}

.logo-orange {
    color: #fe5828;
}

.prime-white {
    color: whitesmoke;
}

.background {
    background-color: #545454;
}