<div class="container ">
  <div class=""> <!-- both sides of the page -->
    <div class="divided-page page-space background-dark bg-rnd-right">
      <div class="col-md-8 prime-orange"> <!-- left side of page -->
        <div class="">
          <div class=""></div>
            <img class="profile-image" src="/assets/images/profile_pictures.png"/>
        </div>
      </div>
      <div class="col-md-4 prime-gray"> <!-- right side of page -->
        <div class="">
          <div class="move-down">
            <div class="col-md-10">
              <h1 class="prime-orange move-left">Company Profile</h1>
              <h4 class="prime-white profile-light move-left">iiConsult tech Inc. is a management quality and development consultancy with
                25 years of project development and technology experience. We help the leaders
                - of businesses large and small - to make sound and informed decisions regarding
                their IT projects, software development and digital marketing activities.</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="next-page background-clear">
      <h1></h1>
    </div>
  </div>


  <div class="">
      <app-footer></app-footer>
  </div>
</div>

