.move-down {
  margin-top: 170px;
}

.move-left {
  margin-left: -4rem;
}

.profile-image {
  width: 85%;
  padding-top: 3rem;
  padding-left: 1rem;
}

.profile-light {
  font-weight: 300;
  line-height: 2.5rem;
}
